<div>
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
    data-test="flash-info"
  ><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
    data-test="flash-error"
    ><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</div>
